<div 
  class="ttt-cell" 
  [id]="cell.id" 
  [ngStyle]="{'width': cell.width + 'px', 'height': cell.height + 'px'}"
  (click)="click()">
  <p class="ttt-cell-value ttt-cell-value__cross" [ngStyle]="{'display': cell.value === 1 ? 'block' : 'none', 'font-size': cell.height * 0.7 + 'px'}">x</p>
  <p class="ttt-cell-value ttt-cell-value__zero" [ngStyle]="{'display': cell.value === 0 ? 'block' : 'none', 'font-size': cell.height * 0.7 + 'px'}">0</p>
</div>