.ttt-cell {
    float: left;
    border: 1px solid #fff;
    transition: .2s;
    &-value {
        text-align: center;
        margin-top: 0%;
        // font-size: 100px;
        transition: .2s;
        color: #fff;
    }
    &:hover {
        background: rgba($color: #fff, $alpha: 0.4);
    }
}