.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.8);
    & h1 {
        color: #fff;
        text-align: center;
        font-size: 50px;
        margin-top: 25%;
        font-family: Arial, Helvetica, sans-serif;
    }
}