<div class="overlay" 
      [ngStyle]="{'display': status === null ? 'none' : 'block'}"
      (click)="reloadGame()">
      <h1>{{whatAScore()}}</h1>
</div>
<div class="ttt" [ngStyle]="{'width': border + 'px', 'height': border + 'px'}">
      <ng-container *ngFor="let cell of cells">
              <app-ttt-cell [cell]="cell"></app-ttt-cell>
      </ng-container>
</div>