.game {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
    overflow: auto;   
    background: url('/assets/game-bg.jpg') center center no-repeat;
    background-size: cover;
    height: 100vh;
    &-back {
        color: #fff;
        position: fixed;
        top: 40px;
        left: 20px;
        font-size: 40px;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        opacity: .6;
        transition: .3s;
        &:hover {
            opacity: 1;
        }
    }
}

