.main {
    background: url('/assets/main-bg2.jpg') center center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center; /*Центрирование по горизонтали*/
    align-items: center;     /*Центрирование по вертикали */
    &-center__block {
        text-align: center;
        & h1 {
            text-align: center;
            color: #000;
            font-size: 45px;
            font-family: Roboto;
        }
    }
}