<div class="main">
  <div class="main-center__block">
      <h1>Крестики Нолики</h1>
      <mat-form-field>
          <mat-select placeholder="Размерность поля" [(ngModel)]="selectedValue">
            <mat-option *ngFor="let field of fields" [value]="field.value">
              {{ field.value }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <a mat-raised-button color="accent" routerLink="/game" (click)="getStarted()">Начнем!</a>
  </div>
</div>